/* specific entry selector */
div, td {
  padding: 10px;
  background-color: #EEEEEE;
  font-family: 'Alef', 'sans-serif';
}

div {
  cursor: pointer;
}

/* specific date selector */
span:nth-of-type(1) {
  color: #888888;
  font-size: 0.9em;
}

/* specific class tag selector */
span:nth-of-type(2) {
  color: #888888;
  font-size: 0.9em;
}

span:nth-of-type(3) {
  font-size: 1.1em;
}

#thestack-wrapper {
  width: 50%;
  background-color: #DDDDDD;
  
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
}

#mystack-wrapper {
  width: 30%;
  vertical-align: top;
  background-color: #CCCCCC;
  
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
}

#wrapper {
  margin: 0px auto;
  width: 50%;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

#key, #task {
  font-style: italic;
}

.fa {
  font-size: 1.1em;
  color: #6886A8;
}
